@font-face {
  font-family: qwit;
  src: url(../font/Aboreto-Regular.ttf);
}
@media (max-width: 992px) {
  .grilla {
    grid-template-rows: 120px 300px 300px 1fr auto auto;
    grid-template-areas: "header header header" "portada portada portada" "tarjetas tarjetas tarjetas" "cursos cursos cursos" "novedades novedades novedades" "footer footer footer";
  }
}
@media (max-width: 768px) {
  .grilla {
    grid-template-rows: 120px 300px 1fr auto auto;
    grid-template-areas: "header header header" "portada portada portada" "tarjetas tarjetas tarjetas" "cursos cursos cursos" "novedades novedades novedades" "footer footer footer";
  }
  .portada {
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
  }
  .header {
    flex-direction: column;
  }
  .header .logo {
    padding-top: 15px;
    letter-spacing: 3px;
  }
  .header .logo h1 {
    font-size: 20px;
  }
  .menu {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .menu a {
    padding-left: 43px;
    display: inline-block;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 12px;
  }
  .header {
    flex-direction: column;
  }
  .header .logo {
    padding-top: 12px;
    padding-bottom: 0%;
    letter-spacing: 3px;
  }
  .header .logo h1 {
    font-size: 20px;
  }
  .menu {
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .menu a {
    font-weight: 400;
    padding-bottom: 10px;
    font-size: 16px;
  }
  .portada .contenedor-texto .titulo {
    font-size: 40px;
    font-weight: 600;
  }
}
@media (max-width: 320px) {
  body {
    font-size: 12px;
  }
  .grilla {
    grid-template-rows: 250px 180px 1fr 1fr auto 100px;
    grid-template-areas: "header header header" "portada portada portada" "tarjetas tarjetas tarjetas" "cursos cursos cursos" "novedades novedades novedades" "footer footer footer";
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header .logo {
    padding-top: 52px;
    padding-bottom: 0%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
  }
  .header .logo h1 {
    font-size: 20px;
  }
  .menu {
    flex: 1;
    flex-direction: row;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .menu a {
    padding-left: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    justify-content: space-evenly;
    font-size: 16px;
  }
  .portada .contenedor-texto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 4px;
  }
  .portada .contenedor-texto .portada .contenedor-texto .titulo {
    font-size: 20px;
    font-weight: 600;
  }
  .btn-link {
    margin: 10px;
  }
  /* ---------- Seccion tarjetas ----------*/
  .tarjetas {
    display: flex;
    flex-direction: column;
  }
  .tarjeta-left {
    flex-direction: column;
    padding: 30px;
    align-items: center;
  }
  .tarjeta-center {
    flex-direction: column;
    padding: 30px;
    align-items: center;
  }
  .tarjeta-right {
    flex-direction: column;
    padding: 30px;
    align-items: center;
  }
  .check-icon {
    height: 100px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: qwit;
  font-weight: 300;
  background: white;
  font-size: 16px;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

.grilla {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 300px 300px 1fr auto;
  grid-template-areas: "header header header" "portada portada portada" "tarjetas tarjetas tarjetas" "cursos cursos novedades" "footer footer footer";
}

/* ---------- HEADER ----------*/
.header {
  grid-area: header;
  background-color: transparent;
  background-image: linear-gradient(130deg, #27c062 0%, #27c091 89%);
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .logo {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  flex: 1;
  padding-top: 22px;
}
.header .logo h1 {
  font-size: 30px;
  color: white;
  flex: 1;
  font-family: qwit;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 3;
}
.menu a {
  padding: 10px;
  color: white;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  width: 100%;
  text-align: center;
  transition: 0.2s ease all;
  font-size: 16px;
  font-family: qwit;
}
.menu a:hover {
  background: #156b51;
  color: #fff;
}

/* ---------- Seccion Portada ----------*/
.portada {
  grid-area: portada;
  color: black;
  background-image: url(../media/clinicatr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}
.portada .contenedor-texto .titulo {
  color: #27c091;
  font-family: qwit, Sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-align: right;
}

.tarjetas {
  grid-area: tarjetas;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
  display: flex;
  flex-direction: row;
}

.tarjeta-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  align-items: center;
  font-family: qwit;
  font-size: 17px;
}
.tarjeta-left .mini-title {
  font-weight: bold;
}

.tarjeta-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  align-items: center;
  font-family: qwit;
  font-size: 17px;
}
.tarjeta-center .mini-title {
  font-weight: bold;
}

.tarjeta-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  align-items: center;
  font-family: qwit;
  font-size: 17px;
}
.tarjeta-right .mini-title {
  font-weight: bold;
}

.icono-tarjeta {
  flex: 1;
}

.check-icon {
  height: 100px;
}

.mini-title {
  flex: 1;
}

.mini-description {
  flex: 1;
}

/*---------- Seccion Beneficios ----------*/
.cursos {
  grid-area: cursos;
  display: grid;
  grid-template-columns: 1;
  grid-gap: 20px;
}
.cursos .foto-index:hover {
  transform: scale(1.15);
  transition: 0.5s;
}

/* ---------- Articulos ----------*/
.articulo-curso {
  display: flex;
  background: #fff;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}
.articulo-curso .contenedor-texto {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-family: qwit;
}
.articulo-curso .contenedor-thumbnail {
  width: 50%;
}
.articulo-curso .titulo {
  margin-bottom: 10px;
  font-size: 25px;
}
.articulo-curso .titulo a {
  font-weight: 400;
  color: #000;
}
.articulo-curso .fecha {
  font-size: 16px;
  color: #868b8d;
  margin-bottom: 10px;
}
.articulo-curso .extracto {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #868b8d;
}

.btn-link {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 0.625em;
  background-color: #27c091;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: flex-end;
  font-family: qwit;
  background-color: #27c091;
  text-decoration: none;
}
.btn-link:hover {
  background: #156b51;
  text-decoration: none;
  color: #fff;
}

/*---------- Novedades ----------*/
.novedades {
  padding: 5em 25px;
  text-align: center;
  min-height: 100px;
  grid-area: novedades;
  background: #000;
  color: #868b8d;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}
.novedades .acerca-de img {
  border-radius: 100%;
  height: 10em;
  width: 10em;
  margin-bottom: 25px;
}
.novedades .bio {
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 25px;
  font-family: qwit;
}

.foto-blog {
  filter: grayscale(100%);
  transition: all 0.5s;
  width: 1335;
  height: 751;
}
.foto-blog:hover {
  filter: grayscale(0);
}

.img-foot {
  width: 50px;
  height: 50px;
}

/* codigo de videos*/
#videos {
  grid-area: videos;
}

.grilla2 {
  width: 100%;
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 300px 600px auto;
  grid-template-areas: "header header header" "portada portada portada" "videos videos videos" "videos videos videos" "footer footer footer";
}
.grilla2 .portada {
  color: black;
  background-image: url(../media/clinicatr.jpg);
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 40px;
}

.thumbnail {
  width: 100%;
}

.thumbnail-blog {
  margin-bottom: 12px;
}

.blog-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.title-blog {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.blog-picture {
  width: 45px;
  height: 45px;
  border-radius: 50px;
}

.author-blog,
.view-blog {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.grilla4 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 300px 1fr auto;
  grid-template-areas: "header header header" "portada portada portada" "cursos cursos cursos" "footer footer footer";
}
.grilla4 .portada {
  color: black;
  background-image: url(../media/clinicatr.jpg);
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}
.grilla4 .formConta {
  grid-area: formConta;
}

/*---------- FOOTER ----------*/
.footer {
  font-size: 20px;
  grid-area: footer;
  font-family: qwit;
  padding: 25px;
  text-align: right;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
  background-color: transparent;
  background-image: linear-gradient(130deg, #27c062 0%, #27c091 89%);
}
.footer .container .redes {
  width: 30px;
  height: 30px;
}

.grillaT {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 60px 300px 1fr auto;
  grid-template-areas: "header header header" "portada portada portada" "formConta formConta formConta " "footer footer footer";
}
.grillaT .formConta {
  grid-area: formConta;
  align-items: center;
  font-family: qwit;
  font-size: 17px;
  border-radius: 10px;
}
.grillaT .formConta .form {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.regcamp {
  text-decoration: none;
  color: #27c091;
}
.regcamp:hover {
  color: #27c091;
}

.btnSub {
  align-content: center;
}
.btnSub:hover {
  background-color: #27c091;
  color: #fff;
}

.regcamp {
  text-decoration: none;
  color: #27c091;
}
.regcamp:hover {
  color: #27c091;
}/*# sourceMappingURL=style.css.map */